footer.footer
    ul.footer__menu
        li
            a(href='index.html') Home
        li
            a(href='') Services
        li
            a(href='') About Us
        li
            a(href='') Booking
        li
            a(href='') Contact
