header(class='header' id='header')
    .header__container
        a(href='index.html' class='header__logo')
            img(src='images/logo.svg' alt='Hotel Bayview' width='171' class='header__logo')
        nav
            img(src='images/menu.svg' width='26' class='header__menu' onclick='changeNav()')
            img(src='images/close.svg' width='19' class='header__close' onclick='changeNav()')
            ul.header__navigation
                li
                    a(href='index.html') Home
                li
                    a(href='list.html') Rooms
                li
                    a(href='room.html') Single Room
                li
                    a(href='') Booking
                li
                    a(href='') Our news
                li
                    a(href='') Contact
