doctype html
html(lang="en")
    head
        title='Search'
        link(rel='stylesheet', href='css/reset.css')
        link(rel='stylesheet', href='css/styles.css')
    body
        block header
            include ../partials/header
            block main
    footer
        block footer
            include ../partials/footer
            script(src="https://unpkg.com/shufflejs@5")
            script(src="all.js")
